/* Niyati Mallya G01086055
This file contains all the CSS styling code for the student survey form.*/

*{
	font-family: "sans-serif";
}

body{
	background-color: LavenderBlush;
}

h1{
	color: blue;
	border: 5px solid blue;
	text-align: center;
}

form{
	border: 3px solid black;
}

label{
	color: indigo;
}

div{
	padding-left: 50px;
	padding-top:5px;
	padding-bottom: 5px;
}

.required:after{
		content:" *";
		color: red;
}

#req{
	color: red;
}


